.container {


    width: 1920px;
    height: 1322px;
    background-color: rgba(255, 144, 14, 0.1);
}

/* -----
Navigation bar 
------------ */

.section-1 {
    display: flex;
    justify-content: space-between;
    align-items: center;
}




.title {
    margin-left: 230px;
    font-size: 40px;

}

.link {

    margin-right: 260px;

}

.link ul {
    display: flex;
    justify-content: space-between;
    Width: 477px;
    Height: 26px;
    align-items: center;
}

.link ul li {
    font-weight: 500;
    font-size: 18px;
    text-align: center;
    color: #424242;
    list-style-type: none;
}

/* -----------
     banner related section 2
-------------------------------
 */
.section-2 {
    display: flex;
    flex-direction: column;
    align-items: center;

}

.section-2-title {
    display: flex;
    flex-direction: column;
    align-items: center;

    width: 862px;
    height: 225px;

    font-family: 'Work Sans';
    font-style: normal;
    font-weight: 700;
    font-size: 50px;
    /* text-align: center; */
    color: #131313;
    margin-top: 80px;


}

.sec-2-h4 {
    width: 450px;


    text-align: center;


    /* margin-left: 250px; */
    margin: 0px;




}

.sec-2-p {
    width: 80%;
    height: 100%;
    font-weight: 200;
    font-size: 14px;
    font-style: normal;
    color: #727272;
    text-align: center;

    margin-top: 30px;
    padding-top: 20px;
}

/* button of banner */

.sec-2-btn {
    margin-top: 30px;
    margin-bottom: 40px;
    width: 180px;
    height: 64px;
    border-radius: 8px;
    background-color: #FF900E;
    color: white;
    text-align: center;
    border: none;
    font-size: 18px;

}

.sec-2-img {
    border-radius: 8px;
}

/* --------------------
      main section with teams and info
  ----------------     */

.sec-1-main {
    display: flex;
    margin-top: 85px;
    align-items: center;

}

/* image rid layout */
.img-main {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    gap: 24px;
    margin-left: 301px;


}

.img-main img {
    border-radius: 8px;
}

.info-main {
    width: 537px;
    height: 350px;

    margin-left: 73px;

}

.faded-clr {
    color: #727272;
}

.prmy-clr {
    color: #FF900E;
}

.info-main h2 {
    width: 468px;
    height: 106px;

    font-family: 'Work Sans';
    font-style: normal;
    font-weight: 500;
    font-size: 45px;
    margin: 0px;

}

.para-main {

    color: #727272;
    font-size: 16px;
    font-family: 'Work Sans';
    font-style: normal;
    font-weight: 400;
    margin: 2px 2px 2px 0px;
    line-height: 26px;
    text-align: left;

}

.btn-main {
    width: 180px;
    height: 64px;
    border-radius: 8px;
    background-color: #FF900E;
    color: white;
    text-align: center;
    border: none;
    font-size: 18px;
    margin-top: 18px;

}

/* --------------------
         main section-2 with featuress and image
         ------------------------- */

.section-2-main {
    width: 1440px;
    height: 1059px;
    margin: 130px 240px;

    display: flex;
    justify-content: space-between;
}

.side {
    width: 5px;
    height: 106px;
    background-color: #FF900E;
    margin-top: 30px;

}


.feature-title {
    width: 468px;
    height: 106px;
    font-family: 'Work Sans';
    font-style: normal;
    font-weight: 700;
    font-size: 45px;
    line-height: 53px;
    color: #131313;
    margin-top: 30px;
    margin-left: 30px;
}

.para-sec-2 {
    width: 586px;
    height: 78px;
    margin-bottom: 30px;
    font-family: 'Work Sans';
    font-style: normal;
    font-weight: 400;
    font-size: 16px;
    line-height: 26px;
    color: #727272;

}

.feature-label {
    width: 586px;
    height: 764px;
    margin-top: 75px;
}

.articles {
    width: 586px;
    height: 171px;
    color: #727272;
    box-shadow: 5px 5px 20px rgb(215, 212, 212);


}

.articles h3 {
    width: 514px;
    height: 50px;
    margin-left: 30px;
    position: relative;
    top: 30px;
    font-family: 'Work Sans';
    font-style: normal;
    font-weight: 600;
    font-size: 20px;
    line-height: 23px;
    color: #131313;

}

.articles p {
    width: 514px;
    height: 50px;

    margin-left: 30px;
    text-align: left;
    font-family: 'Work Sans';
    font-style: normal;
    font-weight: 400;
    font-size: 16px;
    line-height: 26px;
    color: #727272;

}

.img-sec-2 {

    width: 800px;
    height: 1059px;
    margin-left: 55px;
}

.img-sec-2 img {
    width: 100%;
    height: 100%;

}

.exp {
    width: 342px;
    height: 200px;
    color: white;
    background: #FF900E;
    border-radius: 8px;
    font-size: 65px;
    text-align: center;
    position: relative;
    z-index: 10;
    margin-top: -200px;
    margin-left: -50px;
}

.exp p {
    margin: 50px 30px 50px 30px;

}

/* main section styl for facts
-------------------------------- */

.sec-3-main {

    width: 1390px;
    height: 470px;
    margin: 130px 250px 130px 240px;
}

.sec-3-h {

    width: 258px;
    height: 53px;
    font-family: 'Work Sans';
    font-style: normal;
    font-weight: 700;
    font-size: 45px;
    line-height: 53px;
    color: #131313;
}

.sec-3-p {
    width: 542px;
    height: 52px;
    margin-bottom: 80px;
    font-family: 'Work Sans';
    font-style: normal;
    font-weight: 400;
    font-size: 16px;
    line-height: 26px;
    color: #727272;
}

.div-img {
    display: flex;
    justify-content: space-around;

}

.div-img-border {
    box-sizing: border-box;
    width: 240px;
    height: 240px;
    border: 1px solid #FF900E;
    border-radius: 8px;
    display: flex;
    flex-direction: column;
    transition: 0.3s;

}

.div-img-border img {
    margin: 50px 100px 150px 100px;
}

.div-img-border p {

    width: 160px;
    height: 80px;

    position: relative;
    z-index: 1;
    margin-top: -130px;
    margin-left: 37px;
    text-align: center;


    font-family: 'Work Sans';
    font-style: normal;
    font-weight: 600;
    font-size: 45px;

    color: #424242;

}

.div-img-border span {

    display: block;
    font-family: 'Work Sans';
    font-style: normal;
    font-weight: 600;
    font-size: 20px;
    line-height: 23px;
    color: #727272;
}

/* ---------------------------
            -------
         main section of sponsors
    --------------------------         */

.sec-4-main {

    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width: 1440px;
    height: 300px;
    margin-left: 240px;
    margin-right: 240px;
}

.sec-4-main h3 {
    width: 327px;
    height: 53px;

    font-family: 'Work Sans';
    font-style: normal;
    font-weight: 700;
    font-size: 45px;
    line-height: 53px;
    color: #131313;
    margin-bottom: 24px;

}

.sec-4-main p {
    font-family: 'Work Sans';
    font-style: normal;
    font-weight: 400;
    font-size: 16px;
    line-height: 26px;
    margin-bottom: 50px;
    text-align: center;
    width: 542px;
    height: 52px;
    color: #727272;


}

.sec-4-div {
    display: flex;
    justify-content: space-between;
}

.img-sec-4 {
    width: 160px;
    height: 50px;
    margin-right: 120px;
    filter: grayscale(100%);
}

/* now comes fooooter */

.foot {
    width: 1440px;
    height: 100px;
    margin: 130px 240px 240px 240px;
    background-color: #FFF4E7;
    border-radius: 8px;


}

.foot p {
    position: relative;
    top: 35px;
    
    font-family: 'Work Sans';
    font-style: normal;
    font-weight: 400;
    font-size: 20px;
    line-height: 23px;
    text-align: center;
    color: #424242;
    margin: 40px 410px 40px 410px;
    width: 620px;
    height: 23px;
}

/* ------------------
            ------------------
            Responsive Design
     -------
         ------------------
                 */
/*
    @media only screen and (max-width: 576px) {
        body {
            width: 100%;
        }
        .section-1 {
            display: block;
            width: 100%;
        }
        .link {
          display: block;
        }
    }             
    */

/*---------
        transition effect----
     -------    
     */
.div-img-border:hover {
    opacity: 0.5;
    border: 1px solid royalblue;
}